<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <form action="" method="post">
            <div class="mb-3">
            <label for="name">name
                <input type="text" placeholder="name">
            </label></div>
            <div class="mb-3">
            <label for="id">id
                <input type="text"placeholder="staff id ">
            </label></div>
            <div class="mb-3">
            <label for="email">email
                <input type="email" placeholder="email">
            </label></div>
            <div class="mb-3">
                <label for="dropdown" class="form-label">Select an Option</label>
                <select class="form-select w-25" id="dropdown">
                  <option value="1">docter</option>
                  <option value="2">pharmasist</option>
                  <option value="3">nurse </option>
                </select>
              </div>
              <div class="mb-3">
            <label for="Specialists ">Specialists
                <input type="text" placeholder="Specialists">
            </label></div>
            <button type="submit"> submit</button>
        </form>
    </div>
    <script></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>